<% @user ||= current_user %>
<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_detail' %>
		</section>
	</aside>
	<div class="span8">
		<%= render 'shared/stats' %>
	</div>
</div>

<% if current_user.admin? || current_user.tech? %>

<div id="tickets_per_day_chart"></div>
<div id="tickets_per_dept"></div>

<%= high_chart("tickets_per_day_chart", @tickets_per_day_chart) %> 
<%= high_chart("tickets_per_dept", @tickets_per_dept) %>
<% end %>

<% else %>
<div class = "center hero-unit">
	<h1>Bienvenido a UAC Helpdesk</h1>
	<h2>Mesa de Ayuda Informática</h2>
	<p>
		Esta es la página de bienvenida a este moderno sistema de mesa de ayuda informática para nuestra institución. Nuestro objetivo es servir como <strong>punto único de contacto</strong> para atender cualquier requerimiento de soporte tecnológico de todo el plantel educativo y administrativo en la <a href="http://www.uac.edu.co/">Universidad Autónoma del Caribe.</a>
	</p>
	<%= link_to "Regístrate ya!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("logoHD.png", alt: "Universidad Autónoma del Caribe"), 'http://www.uac.edu.co/' %>
<% end %>