<div class="control-group">
	<%= f.label :name, "Nombre" %>
	<%= f.text_field :name %>
</div>

<div class="control-group">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>

<div class="control-group">
	<%= f.label :department_id, "Selecciona tu departamento", class: "control-label" %>
	<%= f.collection_select :department_id, @departments, :id, :name %>
</div>

<div class="control-group">
	<%= f.label :password, "Contraseña" %>
	<%= f.password_field :password %>
</div>

<div class="control-group">
	<%= f.label :password_confirmation, "Confirma tu contraseña" %>
	<%= f.password_field :password_confirmation %>
</div>
