<div class="stat">
	<span class="stat-name">Creados</span>
	<span class="stat-value"><%= Ticket.all.count %></span>
</div>
<div class="stat">
	<span class="stat-name">Abiertos</span>
	<span class="stat-value"><%= Ticket.pending.count %></span>
</div>
<div class="stat">
	<span class="stat-name">Por cerrar</span>
	<span class="stat-value"><%= Ticket.find_all_by_state("Marcado como cerrado").count %></span>
</div>
<div class="stat">
	<span class="stat-name">Cerrados</span>
	<span class="stat-value"><%= Ticket.find_all_by_state("Cerrado").count %></span>
</div>
<div class="stat">
	<span class="stat-name">En Espera</span>
	<span class="stat-value"><%= Ticket.find_all_by_state("En espera").count %></span>
</div>