<div class="stat">
	<span class="stat-name">Asignados</span>
	<span class="stat-value"><%= @user.assigned_tickets.count %></span>
</div>
<div class="stat">
	<span class="stat-name">Abiertos</span>
	<span class="stat-value"><%= @user.assigned_tickets.merge(Ticket.pending).count %></span>
</div>
<div class="stat">
	<span class="stat-name">Por cerrar</span>
	<span class="stat-value"><%= @user.assigned_tickets.find_all_by_state("Marcado como cerrado").count %></span>
</div>
<div class="stat">
	<span class="stat-name">Cerrados</span>
	<span class="stat-value"><%= @user.assigned_tickets.find_all_by_state("Cerrado").count %></span>
</div>
<div class="stat">
	<span class="stat-name">En Espera</span>
	<span class="stat-value"><%= @user.assigned_tickets.find_all_by_state("En espera").count %></span>
</div>
