<ul>
	<li><strong># de Ticket: </strong><%= @ticket.id %></li>
	<li><strong>Descripción: </strong><%= @ticket.description %></li>
	<li><strong>Categoría: </strong><%= @ticket.category.complete_name %></li>
	<li><strong>Asignado a: </strong><%= @ticket.assigned_tech.name %></li>
	<li><strong>Fecha de Creación: </strong><%= @ticket.created_at.strftime("%d %b. %Y - %r") %></li>
	<% if @ticket.closed? %>
	<li><strong>Fecha de Resolución: </strong><%= @ticket.closed_date.strftime("%d %b. %Y - %r") %></li>
	<% end %>
	<li><strong>Estado: </strong><td><span class="<%= state_class(@ticket.state) %>"><%= @ticket.state %></span></li>
</ul>