<tr>
	<td><%= ticket.id %></td>
	<td><%= ticket.description %></td>
	<td><%= ticket.category.complete_name %></td>
	<td><%= ticket.state %></td>
	<td>
		<div class="btn-group">
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<i class="icon-cog"></i>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><%= link_to 'Ver <i class="icon-zoom-in"></i>'.html_safe, ticket %></li>
				<li><%= link_to 'Modificar <i class="icon-edit"></i>'.html_safe, edit_ticket_path(ticket) %></li>
				<li><%= link_to 'Eliminar <i class="icon-remove"></i>'.html_safe, ticket, method: :delete,
									 											  		  data: { confirm: "¿Está seguro?" } %></li>
				<li class="divider"></li>
				<li class="dropdown-submenu pull-left">
					<a tabindex="-1" href="#">Admin <i class="icon-lock"></i></a>
					<ul class="dropdown-menu">
						<li><%= link_to 'Reasignar <i class="icon-share-alt"></i>'.html_safe, "#" %></li>
						<li><%= link_to 'Poner en espera <i class="icon-time"></i>'.html_safe, hold_ticket_path(ticket) %></li>
						<li><%= link_to 'Cerrar <i class="icon-ok"></i>'.html_safe, "#" %></li>
					</ul>
				</li>
			</ul>
		</div>
	</td>
</tr>
