<% provide(:title, 'Modificar Ticket') %>
<h1>Modificar Ticket #<%= @ticket.id %></h1>

<div class="row">
	<div class="span8 offset3">

		<%= form_for(@ticket, class: "form-horizontal") do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<div class="control-group">
			<%= label_tag :parent_category, "Selecciona la categoria principal:", class: "control-label" %>
			<%= collection_select(:widget, :category, @categories, :id, :name, {:include_blank => true}, "data-remote" => true, "data-url" => "/subcategories", "data-type" => :json )%>
		</div>

		<div class="control-group">
			<%= label_tag :category, "Selecciona la categoria secundaria:", class: "control-label" %>
			<%= f.select :category_id, [], { :include_blank => true }, :disabled => true %>
		</div>

		<%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
		<% end %>

	</div>
</div>