<% provide(:title, 'Nuevo Ticket') %>
<h1>Nuevo Ticket</h1>

<div class="row">
	<div class="span8 offset3">

		<%= form_for(@ticket, class: "form-horizontal") do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<div class="control-group">
			<%= f.label "Descripción", class: "control-label" %>
			<%= f.text_field :description, placeholder:"Incluye una breve descripción de tu solicitud." %>
		</div>

		<div class="control-group">
			<%= label_tag :parent_category, "Selecciona la categoria principal:", class: "control-label" %>
			<%= collection_select(:widget, :category, @categories, :id, :name, {:include_blank => true}, "data-remote" => true, "data-url" => "/subcategories", "data-type" => :json )%>
		</div>

		<div class="control-group">
			<%= label_tag :category, "Selecciona la categoria secundaria:", class: "control-label" %>
			<%= f.select :category_id, [], { :include_blank => true }, :disabled => true %>
		</div>

		<div class="control-group">
			<%= f.label :ticket_type_id, "Selecciona el tipo de ticket:", class: "control-label" %>
			<%= f.collection_select :ticket_type_id, @ticket_types, :id, :type_descr %>
		</div>

		<div class="control-group">
			<%= label_tag :content, "Detalle del Incidente", class: "control-label" %>
			<%= text_area_tag :content, nil, placeholder: "Explique detalladamente el incidente..", required: true %>
		</div>

		<%= f.submit "Crear!", class: "btn btn-large btn-primary" %>
		<% end %>

	</div>
</div>
